/* SignUp.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9; /* Set your desired background color */
  }
  
  .signin-logo img {
    width: 100px; /* Adjust the size of the logo */
  }
  
  .form-container {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .boxed-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    transition: border-color 0.3s;
  }
  
  .boxed-input:focus {
    border-color: #007bff;
  }
  
  label {
    display: block;
    font-size: 14px;
    color: #666;
    text-align: left;
  }
  
  button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .signup-link a {
    font-size: 14px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .signup-link a:hover {
    color: #0056b3;
  }
  